# Ignorar node_modules
node_modules
#Ignorar node-persist
.node-persist
#Ignorar .env
*.env
#Ignorar arquivo de teste
test.js
#Ignorar logs
*.log
logs/session/*
#Ignorar arquivos temporarios
temp
#Ignorar DB e etc
storage/*.db
storage/*.db-shm
storage/*.db-wal
storage/bot.json
# Codigo JS
dist
#Sessao
session
# Bun
node_modules.bun
bun.lockb
bun.lock
